.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    padding: 40px;
    grid-gap: 20px;
    grid-template-rows: 10px 10px 2fr;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;

    place-items: center;

    background: rgb(199, 191, 230);
    background-size: cover;
    color: white;
}

.header {
    display: block;
    grid-row: 1;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.paragraf {
    display: block;
    grid-row: 2;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 28px;
}
